@import "tailwindcss";

/* app/globals.css */
.gradient {
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    #FFFFFF 0%,
    #E3F7FF 20%,
    #B1CCFF 100%
  );
  background-repeat: repeat;
  background-size: cover; /* ensures it fills viewport */
}


.gradient2 {
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    #FFFFFF 0%,
    #E3F7FF 20%,
    #B1CCFF 100%
  );
  background-repeat: repeat;
  background-size: cover; /* ensures it fills viewport */
}


.gradient3 {   /* for hero3 and hero4 */
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    #B1CDFF 0%,
    #80ADEF 84.39%
  );
  background-repeat: repeat;
  background-size: cover; /* ensures it fills viewport */
}


.gradient4 {
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    #E3F7FF 0%,
    #B1CCFF 20%,
    #97BDF5 100%
  );
  background-repeat: repeat;
  background-size: cover; /* ensures it fills viewport */
}


.gradient5 {
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    #81ADEF 0%,
    #C8E4FF 100%
  );
  background-repeat: repeat;
  background-size: cover; /* ensures it fills viewport */
}