@import "tailwindcss";




.gradient2 {
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    #FFFFFF 0%,
    #E3F7FF 10.25%,
    #B1CCFF 85.01%
  );
  background-repeat: repeat;
  background-size: cover; /* ensures it fills viewport */
}


.gradient3 {
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    #E3F7FF 0%,
    #B1CCFF 40%,
    #97BDF5 100%
  );
  background-repeat: repeat;
  background-size: cover; /* ensures it fills viewport */
}


.gradient4 {
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    #E3F7FF 0%,
    #B1CCFF 20%,
    #97BDF5 100%
  );
  background-repeat: repeat;
  background-size: cover; /* ensures it fills viewport */
}


.gradient5 {
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    #97BDF5 -4.1%,
    #E3F7FF 98.82%
  );
  background-repeat: repeat;
  background-size: cover; /* ensures it fills viewport */
}

